<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Migrahack</title>

    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <div id="sliderMenu">
      <button class="toggle fa fa-bars"></button>
      <ul></ul>
    </div>

    <div id="main-container">
      <div id="sliderSlides">
        <section
            class="slide"
            data-title="Legal Access for Rural Immigrants">
          <h1>Legal Access for Rural Immigrants</h1>
          <ul class="slide-info">
            <li><b>44,100</b> Foreign-Born Illinois residents were further than 60 miles from the nearest low-cost or free legal aid clinic in 2014.<sup>6</sup></li>
            <li><b>73.0% of</b> immigrant households do not have their immigration problem addressed.<sup>5</sup></li>
            <li><b>21.7%</b> of immigrants have relatively low income levels in Illinois, below 150% of the federal poverty level.<sup>5</sup></li>
          </ul>
        </section>
        <section
            class="slide"
            data-title="Rural Immigrant Populations">
          <img class="img-main" src="/images/n_2014.png">
          <div class="infobox">
            <h2>Rural Immigrant Populations</h2>
            <p>The immigrant population in Illinois is moving toward the suburbs and downstate. Since traditionally the majority of Illinois immigrant population has been centered in Chicago, the majority of immigrant services and social service infrastructure is based in the Chicagoland area. Without access to legal services, immigrants in rural and downstate Illinois are less likely to have adequate legal support while navigating the criminal justice system.</p>

            <p><i>12.3 percent of immigrant households had an immigration-related legal problem. 73.0 percent of immigrants with immigration-related legal needs did not have their problem addressed.</i><sup>5</sup></p>
            <p><i>A majority of low-income immigrant households continue to live in Chicago, but 44 percent are living in the Chicago suburbs or downstate.</i><sup>5</sup></p>
          </div>
          <div class="legend">
            <img src="/images/label_censustracts.png">
            <p>Black = no data for tract</p>
          </div>
        </section>
        <section
            class="slide"
            data-title="Immigrant Legal Assistance">
          <img class="img-main" src="/images/n_organizations.png">
          <div class="infobox">
            <h2>Immigrant Legal Assistance</h2>
            <p>This map displays that, despite an increase in foreign-born outside of the city, social service organizations (in green) are almost exclusively in the Chicagoland area. These are organizations that are federally endorsed to provide legal services to immigrants.</p>
            <p>Note: Orgs listed are BIA accredited, or have lawyers that provide free/low cost legal aid.</p>
            <p><i>...the largest sources of legal aid in Illinois – representing arguably the vast majority of free legal aid for low-income individuals and families – is off limits for a substantial and growing segment of the low-income population.</i><sup>5</sup></p>
          </div>
          <div class="legend">
            <img src="/images/label_censustracts.png">
            <p>Black = no data for tract</p>
          </div>
        </section>
        <section
            class="slide"
            data-title="Distance to Legal Aid">
          <img class="img-main" src="/images/n_radius.png">
          <div class="infobox">
            <h2>Distance to Legal Aid</h2>
            <p>In 2014, 41,000 foreign-born residents were further than 60 Miles from the nearest legal aid organization.</p>
          </div>
          <div class="legend">
            <img src="/images/label_miles.png">
            <img src="/images/label_censustracts.png">
            <p>Black = no data for tract</p>
          </div>
        </section>
        <section
            class="slide"
            data-title="Alternatives">
          <img class="img-main" src="/images/infographic_final_notario_fraud.png">
          <div class="infobox">
            <h2>What Happens When Services Are Too Far?</h2>
            <p><i>The average annual caseload for each staff attorney is 330..</i><sup>5</sup></p>
          </div>
        </section>
        <section
            class="slide sources"
            data-title="Sources">
          <ol>
            <li>
              Cohen, E., Van Wagoner, C., & Ward, S. (2013). To protect and serve: access to justice for victims of notario fraud in the nation’s capital. Washington, DC: The Community Justice Project Georgetown Law. Retrieved from <a target="_blank" href="https://www.law.georgetown.edu/academics/academic-programs/clinical-programs/our-clinics/Community-Justice/upload/To-Protect-and-Serve.pdf">https://www.law.georgetown.edu/academics/academic-programs/clinical-programs/our-clinics/Community-Justice/upload/To-Protect-and-Serve.pdf</a>
            </li>
            <li>
              Bach, R. L. (1996). Becoming Americans, seeking justice: the immigrants’ legal needs study. Binghamton: Institute for Research on Multiculturalism and International Labor. Retrieved from <a target="_blank" href="http://apps.americanbar.org/publicserv/immigration/notario/inls_study.pdf">http://apps.americanbar.org/publicserv/immigration/notario/inls_study.pdf</a>
            </li>
            <li>
              St. Cyr, P. (2014, September 24). Ticket to nowhere: shady consultants lure immigrants with a dream that can’t be bought. Santa Fe Reporter. Retrieved from <a target="_blank" href="http://www.sfreporter.com/santafe/article-9243-ticket-to-nowhere.html">http://www.sfreporter.com/santafe/article-9243-ticket-to-nowhere.html</a>
            </li>
            <li>
              U.S. Census Bureau; American Community Survey, 2010 - 2014 American Community Survey 1-Year Estimates, Foreign Born Population; generated by Andrew Kos; using American FactFinder; <a target="_blank" href="http://factfinder2.census.gov">http://factfinder2.census.gov</a>; (4 June 2016).
            </li>
            <li>
              Paral, R. (2004). The legal needs of immigrants in Illinois: A report to the Lawyers Trust Fund of Illinois . Chicago, IL: Lawyers Trust Fund of Illinois. Retrieved from <a target="_blank" href="http://www.robparal.com/downloads/Immigrant%20Legal%20Needs%20Report%2010-22-04.pdf">http://www.robparal.com/downloads/Immigrant%20Legal%20Needs%20Report%2010-22-04.pdf</a>
            </li>
            <li>
              <a href="https://github.com/kand/migrahack" target="_blank">ACS data analysis</a>
            </li>
          </ol>
        </section>
      </div>
    </div>

    <script src="https://use.fontawesome.com/47eefb556d.js"></script>
    <script src="/static/vendor.js"></script>
    <script src="/static/client.js"></script>
  </body>
</html>
