<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Migrahack</title>

    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <div id="sliderMenu">
      <button class="toggle fa fa-bars"></button>
      <ul></ul>
    </div>

    <div id="main-container">
      <div id="sliderSlides">
        <section
            class="slide"
            data-title="Rural Immigration">
          <img src="/images/n_2010.png">
          <div id="infobox">
            <h2>Rural Immigration</h2>
            <p>The immigrant population in Illinois is moving toward the suburbs and downstate. Since traditionally the majority of Illinois immigrant population has been centered in Chicago, the majority of immigrant services and social service infrastructure is based in the Chicagoland area. Without access to legal services, immigrants in rural and downstate Illinois are less likely to have adequate legal support while navigating the criminal justice system.</p>
            <p><i>12.3 percent of immigrant households had an immigration-related legal problem. 73.0 percent of immigrants with immigration-related legal needs did not have their problem addressed.</i></p>
          </div>
          {{> _legend }}
        </section>
        <section
            class="slide"
            data-title="2014 % foreign born">
          <img src="/images/n_2014.png">
          <div id="infobox">
            <h2>2014 % foreign born</h2>
            <p>A majority of low-income immigrant households continue to live in Chicago, but 44 percent are living in the Chicago suburbs or downstate</p>
          </div>
          {{> _legend }}
        </section>
        <section
            class="slide"
            data-title="2014 location of organizations">
          <img src="/images/n_organizations.png">
          <div id="infobox">
            <h2>2014 location of organizations</h2>
            <p>This map displays that, despite an increase in foreign-born outside of the city, social service organizations (in green) are almost exclusively in the Chicagoland area. These are organizations that are federally endorsed to provide legal services to immigrants.</p>
            <p>Note: Orgs listed are BIA accredited, or have lawyers that provide free/low cost legal aid.</p>
          </div>
          {{> _legend }}
        </section>
        <section
            class="slide"
            data-title="2014 organizations with radii">
          <img src="/images/n_radius.png">
          <div id="infobox">
            <h2>2014 orgs with radii</h2>
            <p><i>The average annual caseload for each staff attorney is 330, which includes 246 “brief service” matters, 33 cases involving “representation without litigation,” and 51 cases involving litigation or an administrative hearing</i></p>
          </div>
          {{> _legend }}
        </section>
        <section
            class="slide"
            data-title="Alternatives">
          <div id="infobox">
            <h2>What Happens When Services Are Too Far?</h2>
            <p><i>The average annual caseload for each staff attorney is 330, which includes 246 “brief service” matters, 33 cases involving “representation without litigation,” and 51 cases involving litigation or an administrative hearing</i></p>
          </div>
        </section>
      </div>
    </div>

    <script src="https://use.fontawesome.com/47eefb556d.js"></script>
    <script src="/static/vendor.js"></script>
    <script src="/static/client.js"></script>
  </body>
</html>
