<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Migrahack</title>

    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <ul id="sliderMenu"></ul>

    <div id="main-container">
      <div id="sliderSlides">
        <section
            class="slide"
            data-title="2010 % foreign born">
          <img src="/images/2010_2.png">
          <div id="infobox">
            <h2>2010 % foreign born</h2>
            <p>12.3 percent of immigrant households had an immigration-related legal problem. 73.0 percent of immigrants with immigration-related legal needs did not have their problem addressed.</p>
          </div>
          <div id="legend">
            <img src="/images/label_censustracts.png">
            <img src="/images/label_miles.png">
          </div>
        </section>
        <section
            class="slide"
            data-title="2014 % foreign born">
          <img src="/images/2014.png">
          <div id="infobox">
            <h2>2014 % foreign born</h2>
            <p>A majority of low-income immigrant households continue to live in Chicago, but 44 percent are living in the Chicago suburbs or downstate</p>
          </div>
          <div id="legend">
            <img src="/images/label_censustracts.png">
            <img src="/images/label_miles.png">
          </div>
        </section>
        <section
            class="slide"
            data-title="2014 location of organizations">
          <img src="/images/citywithorganizations.png">
          <div id="infobox">
            <h2>2014 location of organizations</h2>
            <p>Orgs listed are BIA accredited, or have lawyers that provide free/low cost legal aid.</p>
          </div>
          <div id="legend">
            <img src="/images/label_censustracts.png">
            <img src="/images/label_miles.png">
          </div>
        </section>
        <section
            class="slide"
            data-title="2014 organizations with radii">
          <img src="/images/labels_Clipped_withOrgz.png">
          <div id="infobox">
            <h2>2014 orgs with radii</h2>
            <p><i>The average annual caseload for each staff attorney is 330, which includes 246 “brief service” matters, 33 cases involving “representation without litigation,” and 51 cases involving litigation or an administrative hearing</i></p>
          </div>
          <div id="legend">
            <img src="/images/label_censustracts.png">
            <img src="/images/label_miles.png">
          </div>
        </section>
        <section
            class="slide"
            data-title="Alternatives">
          <div id="infobox">
            <h2>What Happens When Services Are Too Far?</h2>
            <p><i>The average annual caseload for each staff attorney is 330, which includes 246 “brief service” matters, 33 cases involving “representation without litigation,” and 51 cases involving litigation or an administrative hearing</i></p>
          </div>
        </section>
      </div>
    </div>

    <script src="/static/vendor.js"></script>
    <script src="/static/client.js"></script>
  </body>
</html>
