<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Migrahack</title>

    <link rel="stylesheet" href="static/bower/reveal.js/css/reveal.css">
    <link rel="stylesheet" href="static/bower/reveal.js/css/theme/night.css">
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
        <section>Slide 1</section>
        <section>Slide 2</section>
      </div>
    </div>

    <script src="static/bower/reveal.js/js/reveal.js"></script>
    <script>
      Reveal.initialize();
    </script>
  </body>
</html>
