@import '../colors';

#legend {
  background-color: $migrahack-overlay;
  border: 1px solid black;
  border-radius: 5px;
  color: $migrahack-overlay-color;
  list-style: none;
  margin: 25px;
  max-width: 25%;
  padding: 15px;
  position: fixed;
  right: 0;
  top: 0;

  width: 12%;

  img {
    width: 100%;
  }
}
