@import 'bourbon';
@import 'neat';

@import './bitters/_base';

@import './colors';

@import './slider/slider';
@import './infobox/infobox';
@import './legend/legend';

body {
  @include outer-container;

  background-color: $migrahack-background;
  margin: 0;
}

#main-container {
  margin-bottom: 250px;
}
